* {
  box-sizing: border-box;
}

div.date-picker {
  --border-radius: 0.5rem;
  --header-height: 5.5rem;

  --shadow1: #0003;
  --shadow2: #00000024;
  --shadow3: #0000001f;

  --text-head-color: rgba(0, 0, 0, 0.5);

  width: 18rem;
  height: 23.5rem;
  border-radius: var(--border-radius);

  display: grid;
  grid-template-rows: var(--header-height) 1fr;

  box-shadow: 0 1px 5px var(--shadow1),
  0 2px 2px var(--shadow2),
  0 3px 1px -2px var(--shadow3);

  user-select: none;

  > header {
    width: 100%;
    height: var(--header-height);
    padding: 1rem;

    background-color: var(--primary-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    > button {
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: rgba(255, 255, 255, 0.8);
      transition: all 0.1s ease-in-out;

      &:hover {
        color: rgba(255, 255, 255, 1);
      }

      &:first-of-type {
        font-size: 0.75rem;
      }

      &:last-of-type {
        color: white;
        font-size: 1.25rem;
      }
    }
  }

  > section {
    --row-height: 30px;

    background-color: white;

    button {
      padding: 0;

      border: none;
      background-color: transparent;

      display: flex;
      align-items: center;
      justify-content: center;

      cursor: pointer;

      transition: all 0.1s ease-in-out;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      &.btn-icon {
        width: calc(var(--row-height) - 5px);
        height: calc(var(--row-height) - 5px);

        border-radius: 50%;
      }

      &:not(.btn-icon) {
        width: 100%;
        height: 100%;

        border-radius: 0.25rem;
      }
    }

    &.day-view {
      width: 100%;
      height: 100%;
      padding: 1rem;

      border-radius: 0 0 var(--border-radius) var(--border-radius);

      > header {
        grid-column: 1/-1;

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;

        > div {
          display: grid;
          grid-template-columns: var(--row-height) 1fr var(--row-height);
          justify-items: center;
          align-items: center;
        }
      }

      > div {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(auto-fill, var(--row-height));

        button {
          &.selected {
            background-color: var(--primary-color);
            color: white;
          }
        }
      }

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        &.day-head {
          font-size: 0.75rem;
          color: var(--text-head-color);
        }
      }
    }

    &.month-view {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

    &.year-view {
      display: grid;
      grid-template-columns: var(--row-height) 1fr var(--row-height);
      align-items: center;

      > div {
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        height: 100%;
      }
    }
  }
}
