label.date-picker_input {
  --icon-color: rgba(0, 0, 0, 0.5);

  --border-color: rgba(0, 0, 0, 0.1);
  --border-color-hover: rgba(0, 0, 0, 0.2);

  --container-background-color: rgba(0, 0, 0, 0.05);
  --container-background-color-hover: rgba(0, 0, 0, 0.1);

  --padding-size: 0.5rem;

  width: auto;
  height: 3rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: var(--padding-size);
  border-radius: 0.25rem;
  border: 1px solid transparent;
  border-bottom: 1px solid var(--border-color);
  background-color: var(--container-background-color);
  transition: all 0.1s ease-in-out;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: var(--primary-color);
    transition: all 0.1s ease-in-out;
  }

  &:hover {
    border-bottom-color: var(--border-color-hover);
    background-color: var(--container-background-color-hover);
  }

  &:focus-within {
    &:after {
      width: 100%;
      left: 0;
    }
  }

  &:focus-within, &.not-empty {
    > span {
      font-size: 0.75rem;
      color: var(--primary-color);
      left: var(--padding-size);
      top: 10px;
    }
  }

  input {
    border: none;
    outline: none;
    background-color: transparent;
    height: 2.75rem;
    caret-color: var(--primary-color);
  }

  > span {
    position: absolute;
    left: calc(var(--padding-size) + 0.5rem);
    color: var(--text-color);
    font-size: 1rem;
    top: calc(50% - 0.5rem);
    cursor: text;
    transition: all 0.1s ease-in-out;
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;

    path {
      fill: var(--icon-color);
    }
  }
}
