:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;

  --text-color: rgba(0, 0, 0, 0.87);

  font-size: 16px;
}

* {
  color: var(--text-color);
  box-sizing: border-box;
}

.date-picker_container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}
