* {
  box-sizing: border-box; }

div.date-picker {
  --border-radius: 0.5rem;
  --header-height: 5.5rem;
  --shadow1: #0003;
  --shadow2: #00000024;
  --shadow3: #0000001f;
  --text-head-color: rgba(0, 0, 0, 0.5);
  width: 18rem;
  height: 23.5rem;
  border-radius: var(--border-radius);
  display: grid;
  grid-template-rows: var(--header-height) 1fr;
  box-shadow: 0 1px 5px var(--shadow1), 0 2px 2px var(--shadow2), 0 3px 1px -2px var(--shadow3);
  user-select: none; }
  div.date-picker > header {
    width: 100%;
    height: var(--header-height);
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around; }
    div.date-picker > header > button {
      padding: 0;
      cursor: pointer;
      background-color: transparent;
      border: none;
      color: rgba(255, 255, 255, 0.8);
      transition: all 0.1s ease-in-out; }
      div.date-picker > header > button:hover {
        color: white; }
      div.date-picker > header > button:first-of-type {
        font-size: 0.75rem; }
      div.date-picker > header > button:last-of-type {
        color: white;
        font-size: 1.25rem; }
  div.date-picker > section {
    --row-height: 30px;
    background-color: white; }
    div.date-picker > section button {
      padding: 0;
      border: none;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: all 0.1s ease-in-out; }
      div.date-picker > section button:hover {
        background-color: rgba(0, 0, 0, 0.1); }
      div.date-picker > section button.btn-icon {
        width: calc(var(--row-height) - 5px);
        height: calc(var(--row-height) - 5px);
        border-radius: 50%; }
      div.date-picker > section button:not(.btn-icon) {
        width: 100%;
        height: 100%;
        border-radius: 0.25rem; }
    div.date-picker > section.day-view {
      width: 100%;
      height: 100%;
      padding: 1rem;
      border-radius: 0 0 var(--border-radius) var(--border-radius); }
      div.date-picker > section.day-view > header {
        grid-column: 1/-1;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem; }
        div.date-picker > section.day-view > header > div {
          display: grid;
          grid-template-columns: var(--row-height) 1fr var(--row-height);
          justify-items: center;
          align-items: center; }
      div.date-picker > section.day-view > div {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: repeat(auto-fill, var(--row-height)); }
        div.date-picker > section.day-view > div button.selected {
          background-color: var(--primary-color);
          color: white; }
      div.date-picker > section.day-view span {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%; }
        div.date-picker > section.day-view span.day-head {
          font-size: 0.75rem;
          color: var(--text-head-color); }
    div.date-picker > section.month-view {
      display: grid;
      grid-template-columns: repeat(3, 1fr); }
    div.date-picker > section.year-view {
      display: grid;
      grid-template-columns: var(--row-height) 1fr var(--row-height);
      align-items: center; }
      div.date-picker > section.year-view > div {
        display: grid;
        grid-template-rows: repeat(10, 1fr);
        height: 100%; }

/*# sourceMappingURL=datePicker.css.map */
